<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Puja - 6 Cards Layout</title>
  <link rel="stylesheet" href="/css/allPuja.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-M+N1ZzBxhxwK2QbT8K2mQ..." crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar">
    <div class="navbar-logo">
      <img src="/css/image/RitualEasep.png" alt="RitualEase">
      <span>RitualEase</span>
    </div>
    <ul class="navbar-menu">
      <li><a th:href="@{/dashboard}" class="active">Home</a></li>
      <li><a th:href="@{/my-bookings}">MyBooking</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <div class="navbar-icons">
      <i class="fa-solid fa-magnifying-glass"></i>
      <i class="fa-solid fa-user"></i>
    </div>
  </nav>

  <!-- Hero Section -->
  <div class="hero__section_container">
    <h1 class="hero__section_heading">Select Your Brahman</h1>
    <div class="hero__section_container_input">
      <i class="fa-sharp fa-solid fa-location-dot" id="location_icon"></i>
      <a href="/allPuja" class="hero__section_input_location">All Puja</a>
      <i class="fa-solid fa-magnifying-glass" id="search_icon"></i>
      <input class="hero__section_input_search" type="text" placeholder="Search your Puja" />
    </div>
  </div>

  <!-- Main Cards Section -->
  <main class="container">
    <!-- Card 1 -->
   <div class="card">
      <div class="card-image">
        <a th:href="@{/puja/1}" target="_blank">
			<img th:src="@{/image/ganesh-pujan.png}" alt="card1 image">
		</a>
      </div>
      <div class="card-content">
        <h2>Ganesh Puja</h2>
        <p>गणेश पूजन, गणेश चतुर्थी व्रत</p>
      </div>
    </div>


    <!-- Card 2 -->
   <div class="card">
      <div class="card-image">
        <a th:href="@{/puja/2}" target="_blank">
			<img th:src="@{/image/grah-pujan.png}" alt="card1 image">
		</a>
      </div>
      <div class="card-content">
        <h2>Grah Pravesh</h2>
        <p>गृह प्रवेश, भूमिपूजन, नवीन उद्घाटन</p>
      </div>
    </div>

    <!-- Card 3 -->
   <div class="card">
      <div class="card-image">
        <a th:href="@{/puja/3}" target="_blank">
			<img th:src="@{/image/marrige-pujan.png}" alt="card1 image">
		</a>
      </div>
      <div class="card-content">
        <h2>Marriage</h2>
        <p>विवाह, लग्नोत्सव, सगाई, फलदान</p>
      </div>
    </div>


    <!-- Card 4 -->
    <div class="card">
      <div class="card-image">
        <a th:href="@{/puja/4}" target="_blank">
			<img th:src="@{/image/satyanarayan-pujan.png}" alt="card1 image">
		</a>
      </div>
      <div class="card-content">
        <h2>Satyanarayan Katha</h2>
        <p>सत्यनारायण कथा, विष्णु पूजन</p>
      </div>
    </div>

    <!-- Card 5 -->
    <div class="card">
      <div class="card-image">
        <a th:href="@{/puja/5}" target="_blank">
			<img th:src="@{/image/durga-pujan.png}" alt="card1 image">
		</a>
      </div>
      <div class="card-content">
        <h2>Durga Pujan</h2>
        <p>दुर्गा पूजा, नवरात्रि पूजन, दुर्गा सप्तशतीपाठ</p>
      </div>
    </div>

    <!-- Card 6 -->
   <div class="card">
      <div class="card-image">
        <a th:href="@{/puja/6}" target="_blank">
			<img th:src="@{/image/shiv-pujan.png}" alt="card1 image">
		</a>
      </div>
      <div class="card-content">
        <h2>Shiv Pujan</h2>
        <p>शिव पूजन, शिवलिंग निर्माण, सोमवार व्रत</p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <a th:href="@{/puja/7}" target="_blank">
			<img th:src="@{/image/anushthan-pujan.png}" alt="card1 image">
		</a>
      </div>
      <div class="card-content">
        <h2>Vadic Anushthan</h2>
        <p>संस्कार, अनुष्ठान, धार्मिकउत्सव</p>
      </div>
    </div>

     <!-- Card 8 -->
   <div class="card">
      <div class="card-image">
        <a th:href="@{/puja/8}" target="_blank">
			<img th:src="@{/image/maha-pujan.png}" alt="card1 image">
		</a>
      </div>
      <div class="card-content">
        <h2>Mahamrityunjaya Jaap</h2>
        <p>महामृत्युञ्जय मन्त्र जाप, ग्रहशांति पूजन</p>
      </div>
    </div>

     <!-- Card 9 -->
   <div class="card">
      <div class="card-image">
        <a th:href="@{/puja/9}" target="_blank">
			<img th:src="@{/image/ekadashi-pujan.png}" alt="card1 image">
		</a>
      </div>
      <div class="card-content">
        <h2>Ekadashi Vrat Pujan</h2>
        <p>एकादशी व्रत पूजन, तुलसी विवाह पूजन,</p>
      </div>
    </div>
 <!-- Card 10 -->
   <div class="card">
      <div class="card-image">
        <a th:href="@{/puja/10}" target="_blank">
			<img th:src="@{/image/purinima-pujan.png}" alt="card1 image">
		</a>
      </div>
      <div class="card-content">
        <h2>Purnima Vrat Pujan </h2>
        <p>पूर्णिमा व्रत, प्रदोष व्रत,संक्रांति व्रत </p>
      </div>
    </div>

     <!-- Card 11 -->
   <div class="card">
      <div class="card-image">
        <a th:href="@{/puja/11}" target="_blank">
			<img th:src="@{/image/chaturmas-pujan.png}" alt="card1 image">
		</a>
      </div>
      <div class="card-content">
        <h2>Chaturmasi Vrat Pujan</h2>
        <p>हलषष्ठी, तीज, संतान सप्तमी, महालक्ष्मी, करवाचौथ, चातुर्मास पूजा</p>
      </div>
    </div>

     <!-- Card 12-->
   <div class="card">
      <div class="card-image">
        <a th:href="@{/puja/12}" target="_blank">
			<img th:src="@{/image/miss-pujan.png}" alt="card1 image">
		</a>
      </div>
      <div class="card-content">
        <h2>Misslenious Pujan</h2>
        <p>विविध मिश्रित अतिरिक्त शेष पूजन</p>
      </div>
    </div>

  </main>

</body>
</html>
