
<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Zomato logo in title tab -->
	<link
			rel = "icon"
			href = "";
	/>

	<!-- fontawesome.com icons -->
	<link
			rel = "stylesheet"
			href = "/Frontend/View/userDashboard.css"
			integrity = "sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
			crossorigin = "anonymous"
			referrerpolicy = "no-referrer"
	/>

	<!-- Poppins font by google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
	/>

	<!-- Linking CSS file -->
	<link rel = "stylesheet" href = "/css/userDashboard.css"/>

	<title>User Dashboard</title>
</head>
<body>
<!-- This is for hero section -->
<section class = "hero__section">
	<header>
		<nav class = "navbar">
			<a href = "#">Get the App</a>
			<div class = "navbar__menu_container">
				<a href = "#" class = "link" >Puja </a>
				<a th:href="@{/my-bookings}" class="link">MyBooking</a>
				<a th:href="@{/login}" class = "link" >Logout</a>
				<a th:href="@{/register}" class = "link" >reger</a>
				<a href = "#" class = "user_icon"><i class="fa-solid fa-user"></i></a>
			</div>
		</nav>
	</header>
	<div class = "hero__section_container">
		<img src = "/css/image/RitualEasep.png" alt = "RitualEase" class = "hero__section_logo" />
		<h1 class = "hero__section_heading">Select Your Brahman </h1>
		<div class = "hero__section_container_input">
			<i class="fa-sharp fa-solid fa-location-dot" id = "location_icon"></i>
			<select class = "hero__section_input_location">
				<option>Pune</option>
				<option>Mumbai</option>
				<option>Banglore</option>
				<option>Delhi</option>
			</select>
			<i class="fa-solid fa-magnifying-glass" id = "search_icon"></i>
			<input class = "hero__section_input_search" type = "text" placeholder = "Search your location " />
		</div>
	</div>
</section>
<!-- This is for cards that zomato offer -->
<section class = "container_cards">

	<div class = "we_offer__cards">
		<a th:href="@{/puja/1}" target="_blank">
			<img th:src="@{/image/gc1.webp}" alt="card1 image">
		</a>
		<div class = "we_offer__cards_content">
			<h2>Ganesh Pujan</h2>
			<p></p>
		</div>
	</div>

	<div class = "we_offer__cards">
		<a th:href="@{/puja/2}" target="_blank">
			<img th:src="@{/image/grah.webp}" alt="card1 image">
		</a>
		<div class = "we_offer__cards_content">
			<h2>Grah Pravesh</h2>
			<p></p>
		</div>
	</div>

	<div class = "we_offer__cards">
		<a th:href="@{/puja/3}" target="_blank">
			<img th:src="@{/image/wed.jpg}" alt="card1 image">
		</a>
		<div class = "we_offer__cards_content">
			<h2>Marrige</h2>
			<p></p>
		</div>
	</div>

	<div class = "we_offer__cards">
		<a th:href="@{/puja/4}" target="_blank">
			<img th:src="@{/image/satya.jpg}" alt="card1 image">
		</a>
		<div class = "we_offer__cards_content">
			<h2>Satyanarayan Katha</h2>
			<p></p>
		</div>
	</div>

</section>
<!-- This is for collection section -->
<section class = "container_collections">
	<h1>Puja Item</h1>
	<div class = "sub_heading__container">
		<span>Here you can order all your puja essentials.</span>
		<span id = "span">All collections </span>
	</div>
	<div class = "collections__cards_container">
	
	<a href="https://www.amazon.in/Hawan-Samagri-Pooja-Home-Herbal/dp/B0FJRK6D8P/ref=sr_1_6?adgrpid=63623824985&dib=eyJ2IjoiMSJ9.a4nUzKxWqXWZrwvaIzSGwH60JrOMavgdQ9lQZd0faBVOnAYrS38OifUecugN-yLjJ9pKx5RD5_bKQL7mEuSBHamHqabwCYFN5TGJzMaew_JVLsTi6b57yRXipG7U_AJCXA97OseS5HFppwmtcfyWy04KT2DvewYzx_AzCPKCuAuKyrs_5Zrq_Lrf1Q2NWCQwlyq1IBf6CeDYkqR5AbsgvpQuNnxiQTmg6SS8dZ1LCcxIHd2uSsxgh17bSqJLEFQzoxgtFEmnKc_UA8RjlZCCaQwicu8BnUlMBRWggesUO_E.lAWsnHnVjCK3Eci8bfssT3JIzDoUuinsBfiojhnzx5E&dib_tag=se&ext_vrnc=hi&hvadid=499028895030&hvdev=c&hvlocphy=9062015&hvnetw=g&hvqmt=e&hvrand=2206103430297469311&hvtargid=kwd-1642132548612&hydadcr=537_2434974&keywords=hawan+samagri+amazon&mcid=bf0756253b6936eba76bbc51592165ef&qid=1758360390&sr=8-6">
	<div class="cards card1">
      <div class="overlay"></div>
       <div class="collections__content">
        <h4>Havan Samagri</h4>
        <span>Buy Java Tila And More</span>
    </div>
	</div>
</a>

		<a href="https://www.amazon.in/s?k=god+murti&crid=1OJ482THPG8DR&sprefix=god+murti%2Caps%2C472&ref=nb_sb_ss_mvt-t11-ranker_ci_hl-bn-left_1_9">
		<div class = "cards card2">
			<div class = "overlay"></div>
			<div class = "collections__content">
				<h4>God Pritima</h4>
				<span> Buy All Hindu God Murti</span>
			</div>
		</div>
		</a>

		<a href="https://www.amazon.in/S-K-Satyanarayan-Pujan-Samagri-Religion/dp/B0BT23W1W1/ref=sr_1_8?crid=1EHKVXCJW3B2L&dib=eyJ2IjoiMSJ9.IZx3g4_Q_sy3di5S_6I5f_oJ_0STOiX7aOzysMMa8pTyhVbx6a3au7pJZd2h4KMSBCR3WIzJAYB5HIpJqh_qg3xmb8hlqQkC9Tv4f3pJkmoYI2w332Hkh0u6eznvZa12D5AOkPE1JzHJ8TdZDHoUVSGMfbX2cZMwdi9HjVkSVIRz0C_EgaTpCk-tSBuVYuBbHF6BlLL5XxsLxupXJBUs1DScz-Jx1lsTvV7JdbycPRSM6uZ24DoGtdYSbzqPWZ9rX8eIn7DpkGV-LFmP8mEBagpcyziFYY_CbOQxVUnafc8.vqijwUVdNQAoFvmhu59IdvN3vC8JioJNZdfYJTUfNUQ&dib_tag=se&keywords=satyanarayan+samagri&qid=1758361178&sprefix=satyanrayan+samgri%2Caps%2C256&sr=8-8">
		<div class = "cards card3">
			<div class = "overlay"></div>
			<div class = "collections__content">
				<h4>Satyanarayan Samagri</h4>
				<span>All Item Availble In One Kit</span>
			</div>
		</div>
		</a>

		<a href="https://www.amazon.in/Farmley-Mix-Dry-Fruit-Panchmeva/dp/B09MM96YC4/ref=sr_1_20_f3_0o_fs_mod_primary_alm?crid=35952ZUWZUZJA&dib=eyJ2IjoiMSJ9.kVyKs16GmHOH-QweacfqeAOGOl4QUkKkerjA0u55iIU840ZAU8W1hLsuZSd_f_jWeq54H6wsWg00IsD5beeEw0-x9ylFOaHj6GS4RngcCtOK2VryVW3MZe6Oi_Tmg8P_7_weqM3XlvKZTemzi_ivLzV-V_uQeqU3kKK4yDZNSrPC6p75MI-3raIgpE5jnhPacqLdQptXdSwbw8vMSocv0h-1t0NmiYRIvN8q2m5ATX1Y5B4-Gw5bG7MCUMnvQ3pePmBDgQl7kKYrEfAucXEqCyomjLDhswHXyi5UOgpLFJs.U1jOwgr-xmzgqxf7bl3AscXZMSt7jWjVSHzfryLu-rU&dib_tag=se&keywords=puja%2Bprasad&qid=1758361266&sbo=m6DjfpMzMLDmL8pSMKX8hw%3D%3D&sprefix=puja%2Bprasad%2Caps%2C292&sr=8-20&th=1">
		<div class = "cards card4">
			<div class = "overlay"></div>
			<div class = "collections__content">
				<h4>Panchmeva</h4>
				<span>Kaju,Badam and More</span>
			</div>
		</div>
	</div>
	</a>
</section>
<!-- This is for get the App section -->


<footer class = "footer__container">
	<div class = "footer_section1">
		<img src = "./Images/logo.png" alt = "zomato logo" />
		<div class = "section1__button_container">
			<button>
				<img src = "./Images/IndianFlag.png" alt = "Indian Flag" style = "width: 16px; height: 16px" />
				<select style = "border: none; background: #e8e8e8; cursor: pointer">
					<option>India</option>
					<option>United States</option>
					<option>Australia</option>
					<option>New Zealand</option>
					<option>Spain</option>
					<option>England</option>
				</select>
			</button>
			<button>
				<i class = "fa fa-globe"></i>
				<select style = "border: none; background: #e8e8e8; cursor: pointer">
					<option>English</option>
					<option>Español</option>
					<option>Čeština</option>
					<option>Slovenčina</option>
					<option>Polish</option>
					<option>Italian</option>
				</select>
			</button>
		</div>
	</div>
	<div class = "navigation_container">
		<div class = "link_container">
			<h5>About RitualEase</h5>
			<div class = "link_container_anchors">
				<a href = "#">Who We Are</a>
				<a href = "#">Blog</a>
				<a href = "#">Work With Us</a>
				<a href = "#">Investor Relations</a>
				<a href = "#">Report Fraud</a>
				<a href = "#">Contact Us</a>
			</div>
		</div>

		<div class = "link_container">
			<h5>RitualEra</h5>
			<div class = "link_container_anchors">
				<a href = "#">Amazon</a>
				<a href = "#">Google Map</a>
				<a href = "#">Feeding India</a>
				<a href = "#">Hyperpure</a>
				<a href = "#">Pandit</a>
			</div>
		</div>

		<div class = "link_container">
			<h5>For Puja</h5>
			<div class = "link_container_anchors">
				<a href = "#">Partner With Us</a>
				<a href = "#">Apps For You</a>
			</div>
			<h5 id = "enterprises">For Enterprises</h5>
			<div class = "link_container_anchors">
				<a href = "#">Zomato For Work</a>
			</div>
		</div>

		<div class = "link_container">
			<h5>Learn More</h5>
			<div class = "link_container_anchors">
				<a href = "#">Privacy</a>
				<a href = "#">Security</a>
				<a href = "#">Terms</a>
				<a href = "#">Sitemap</a>
			</div>
		</div>

		<div class = "link_container">
			<h5>Social Links</h5>
			<div class = "social_media_icon_buttons">
				<button><i class="fa-brands fa-linkedin-in"></i>	</button>
				<button><i class = "fa-brands fa-instagram"></i></button>
				<button><i class = "fa-brands fa-twitter"></i></button>
				<button><i class = "fa-brands fa-facebook"></i></button>
				<button><i class = "fa-brands fa-youtube"></i></button>
				<div class = "social_media_logos">
					<img src = "./Images/appleStore.png" alt = "Apple store" />
					<img src = "./Images/playStore.png" alt = "Play store" id = "img2"/>
				</div>
			</div>
		</div>
	</div>
	<div class = "disclaimer">
		By continuing past this page, you agree to our Terms of Service, Cookie Policy,
		Privacy Policy and Content Policies. All trademarks are properties of their respective owners.
		2008-2023 © Zomato™ Ltd. All rights reserved.
	</div>
</footer>
</body>
</html>
